<article{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div{{ content_attributes }}>
    <div class="container">
      <div class="container-content">
        <div class="text-[24px] leading-[33px] mb-[30px]">
          {{ content.lead }}
        </div>
        <div>
          {{ 
            content|without(
              'lead',
              'duration',
              'article_type',
            ) 
          }}
        </div>
        <div class="text-center mt-[80px]">
          <a href="/from-the-pen" class="inline-block text-[20px] leading-[22px] text-fs-red-tint py-[9px] px-[25px] font-mono border border-fs-red-tint border-solid">< back to articles</a>
        </div>
      </div>
    </div>
  </div>
</article>
