{#
/**
 * @file
 * Overrides core/modules/system/templates/form-element.html.twig
 */
#}
{%
  set classes = [
    'js-form-item',
    'form-item',
    'js-form-type-' ~ type|clean_class,
    'form-item-' ~ name|clean_class,
    'js-form-item-' ~ name|clean_class,
    title_display not in ['after', 'before'] ? 'form-no-label',
    disabled == 'disabled' ? 'form-disabled',
    errors ? 'form-item--error',
  ]
%}
{%
  set tw = [
    'grid',
    'grid-cols-1',
    'gap-42',
  ]
%}

<div{{ attributes.addClass(classes).addClass(tw) }}>

  {% if label %}
    {{ label }}
  {% endif %}

  {% if description.content %}
    {{ description.content }}
  {% endif %}

  {{ children }}

  {% if errors %}
    <div class="form-item--error-message">
      {{ errors }}
    </div>
  {% endif %}

</div>
