<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes }}>
    <div class="text-base font-sans">
      {#
        Keyboard navigation/accessibility link to main content section in
        page.html.twig.
      #}
      <a href="#main-content" class="visually-hidden focusable">
        {{ 'Skip to main content'|t }}
      </a>
      {{ page_top }}
      {{ page }}
      {{ page_bottom }}
    </div>
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
